<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.springtest.dao.BoardDao">
  <select id="getBoards" resultType="kr.green.springtest.vo.BoardVo">
  	select * 
  	from board 
  	where state = "I"
  	order by id desc
 </select>
 
	<insert id="setBoard">
		insert into    <!-- 게시글 등록하기 -->
			board(title,content, writer)
			values(#{board.title},#{board.content},#{board.writer})
	</insert>
	
	 <!-- 게시글 상세보기 -->
	<select id="getBoard" resultType="kr.green.springtest.vo.BoardVo">
		select *
		from board
		where id = #{id} and state = "I"
	</select>
	<update id = "updateBoard">   <!-- update 이용해서 삭제, 수정 기능 구현 -->
	 update board
	  set title = #{board.title},
	  	  content = #{board.content},
	  	  state = #{board.state}
	  where id = #{board.id}
	</update>
	
</mapper> 